[submodule "src/dataset/raw_data/CompCert"]
	path = src/dataset/raw_data/CompCert
	url = https://github.com/AbsInt/CompCert.git
[submodule "src/dataset/raw_data/flocq"]
	path = src/dataset/raw_data/flocq
	url = https://gitlab.inria.fr/flocq/flocq
[submodule "inspiration/itp-interface"]
	path = inspiration/itp-interface
	url = https://github.com/trishullab/itp-interface.git
[submodule "src/dataset/coq_tools"]
	path = src/dataset/coq_tools
